<template>
    <section class="section">
        <div class="container">
            <div>
                <b-button v-b-modal.modal-1>Launch demo modal</b-button>

                <b-modal id="modal-1" title="BootstrapVue">
                    <p class="my-4">Hello from modal!</p>
                </b-modal>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
//  aal
</style>