$white: #fff;
$black: #000;
$body-bg: $white;
$body-color: $black;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;
$line-height-base: 1.5;
$font-weight-base: 400;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base ;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$section-margin-top: 1rem;
$section-margin-bottom: 1rem;
$grid-row-gutters: (
    xs: 8px,
    sm: 12px,
    md: 16px,
    lg: 20px,
    xl: 24px
);

$input-color: #000;
$input-color-focus: #000;
$input-border-color: #7c7c7c;
$input-border-color-focus: #000;
$input-placebolder-color: #ccc;

$modal-xl: 1140px;
$modal-lg: 800px;
$modal-md: 500px;
$modal-sm: 300px;

$link-color: blue;
$link-color-hover: blue;
$link-color-active: blue;