.card {
    &-header {
        padding: 0.75rem 1.25rem;
    }

    &-body {
        padding: 0.75rem 1.25rem;
    }

    &-footer {
        padding: 0.75rem 1.25rem;
    }

    &-img,
    &-img-top {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}