.form-control,
.form {
    color: $input-color;
    border-color: $input-border-color;

    &::placeholder {
        color: $input-placebolder-color;
    }

    &:focus {
        color: $input-color-focus;
        box-shadow: none;
        border-color: $input-border-color-focus;
    }
}