.modal {
    &-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem 1rem;
    }

    &-body {
        padding: 1rem;
    }
    &-footer {
        padding: 1rem;
    }
}