@mixin responsive($breakpoint ) {
    @if $breakpoint ==xs {
        @media only screen and (min-width: map.get($grid-breakpoints, "xs")) {
            @content;
        }
    }

    @if $breakpoint ==sm {
        @media only screen and (min-width: map.get($grid-breakpoints, "sm") - 0.02px) {
            @content;
        }
    }

    @if $breakpoint ==md {
        @media only screen and (min-width: map.get($grid-breakpoints, "md") - 0.02px) {
            @content;
        }
    }

    @if $breakpoint ==lg {
        @media only screen and (min-width: map.get($grid-breakpoints, "lg") - 0.02px) {
            @content;
        }
    }

    @if $breakpoint ==xl {
        @media only screen and (min-width: map.get($grid-breakpoints, "xl") - 0.02px) {
            @content;
        }
    }
}