@mixin full-image {
    width: 100%;
    height: 100%;
}

.img-cover {
    @include full-image();
    object-fit: cover;
}

.img-contain {
    @include full-image();

    object-fit: contain;
}

.img-fill {
    @include full-image();
    object-fit: fill;
}