.shadow-sm {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
}

.shadow-md {
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.shadow-lg {
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.25);
}