@mixin make-limit($limit) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $limit;
}

@for $i from 1 through 5 {
    .text-limit-#{$i} {
        @include make-limit($i);
    }
}